html{
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}
*,*::before,*::after{
    -webkit-box-sizing:inherit;
    box-sizing:inherit
}

html, body{
  font-size: 16px;
}

ul,li{
  list-style: none;
}
a{
  text-decoration: none;
}
.main{
  
  background: $blue60;
  padding-top: 2rem;
  overflow: hidden;
  
}
.header{
  position: relative;
  background: linear-gradient(91.81deg, #43CDE9 0%, #0395B6 100%);
}

.header__logo{
  position: absolute;
  left: 0;
  top: 0;
}

.header__inner{
  display: flex;
  justify-content: flex-end;
  padding-bottom: 2.5625rem;
}

.header__menu{
  display: flex;   
  align-items: center;
  min-height: 1.0625rem;
  ul{
      display: flex;
      margin-right: 20px;
  }
  li+li{
      margin-left: 2rem;
  }
  a{
      color: #fff;
      text-transform: uppercase;
      font-family: 'Yanone Kaffeesatz';
      font-size: 0.9rem;
      line-height: 14px;
      font-weight: 500;
      letter-spacing: 0.1rem;

  }
  
}




.header__btn{
  
  cursor: pointer;
  background-color: transparent;
  border: none;
}


.main-container{
  margin-right: 7rem;
  
}
.main-subtitle, .main-curse, .main-name, .main-text, .main-price, .main-comment{
  color: $white
}

.main-description{
  color: $blue10;
  font-size: 0.9rem;
}

.container{
  position: relative;
}

.main-bgimage{
  position: absolute;  
  left: 0;  
  bottom: 0;
  width: 41.75rem;
  height: 41.375rem;
  background-image: url(../images/header-img.png);
  background-size: 41.75rem 41.375rem;
}
.main-subtitle{
  @include FlexAlign;
  min-height: 2rem;
  color: $yellow40;
  font-size: 0.9rem;
}
.main-title{
  @include FlexAlign;
  min-height: 5rem;
  margin-bottom: 1rem;
  color: $white;
}



.icon-default-1{
  color: $yellow40;
}

.main-curse{
  margin-top: 2.6875rem;
  @include FlexAlign;
  min-height: 2rem;
  justify-content: center;
  color: $yellow40;
}
.main-wrap{
  margin-top: 1rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
}
.main-box{
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.main-icon{
  margin-right: 1rem;
  font-size: 3rem;
  color: $yellow40;
}

.main-price{
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Arial';  
  p{
    font-family: 'Comfortaa';    
    color: $blue30;
    margin-top: 1px;
    font-size: 0.6rem;
  }
}

.main-comment{
  font-family: 'Arial';
  padding-top: 5rem;
  padding-bottom: 2rem;
  color: $blue30;
  font-size: 0.75rem;
}

.main-buttonline{
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}
.main-buttons{
  display: flex;
}
.main-order{
  margin: 0 2rem;
}


// info block start
.info{
  background: #fff !important;
}
.info-wrapper{
  display: flex;
  justify-content: space-between;
}
.info__image{
  background-image: url('/images/info-img.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 34rem;
  height: 62rem;
  
}
.info__title{
  min-height: 2.375rem;
  color: $blue60;
  font-weight: 400;
  
}

.info__title-text{
  min-height: 4rem;
  padding-top: 1.4375rem;
  padding-bottom: 3rem;
  span{
    color: $blue60;
  }
}
.info__items{
  max-width: 61rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info__item{
 padding-bottom: 4.0625rem;
}

.info__item-img{
  width: 96px;
  height: 96px;
  background-color: #c4c4c4;
}

.info__item-title{
  color: #00A4C5;
  padding-bottom: 0.6875rem;
  padding-top: 1.25rem;
}
.info__item-text{
  min-height: 6.9375rem;
}

.info-content__right{
  margin-right: 7rem;
  max-width: 61rem;
  width: 100%;
  margin-left: 2rem;
}

.info__item-link{
  color: $blue60;
  font-family: 'Yanone Kaffeesatz';
  text-transform: uppercase;
  min-height: 2rem;
  border-bottom: 1px solid $blue60;
  display: inline-block;
  &::after{
    content: "\e905";
    color: #1eb9d8;
    font-family: 'icons';
    padding-left: 0.5206rem;
    font-size: 15px;
    font-weight: normal;
  }
}
// info block end

//services start
.services{
  background-color: #F4FBFC;
  padding: 8rem 0;
  width: 100%;
}

.services__title{
  min-height: 3rem;
  color: $blue60;
}
.services__title-text{
  min-height: 4rem;
  color: $grey40;
  margin-bottom: 2rem;
}
.services__content-big{
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 0.8125rem 3rem 1rem 2.0625rem;
  min-height: 66rem;
  background-image: url(/images/content/colorstring.svg);   
  background-repeat: repeat-x;
  min-width: 136px;
  &::before{
    position: absolute;
    content: '';
    background-image: url(/images/content/feya-services.png);
    width: 23.75rem;
    height: 43.375rem;
    right: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
  }
  
 
}

.stick-top{  
  position: absolute;
  width: 64px;
  height: 64px;
  top: 0;
  right: 3rem;
  background:  linear-gradient(135deg, #FB5353 0%, #E43193 100%) ;
  box-shadow: 0px 4px 8px #43CDE9;
  border-radius: 0px 0px 20px 20px;
  &::after{
    content: '';    
    position: absolute;    
    width: 39px;
    height: 39px;
    background: url(/images/content/gift.png);   
    top: 50%;
    left: 50%;   
    transform: translate(-50%, -50%);    
    background-repeat: no-repeat;
    background-position: center;         
  }
}
.services__content-big-img{
  background-image: url(/images/content/tuth.svg);  
  background-size: cover;
  width: 16.625rem ;
  height: 12.3125rem;
}
.services__content-subtitle{
  color: $grey50;
  min-height: 3rem;
}
.services__content-big-title{
  color: $blue60;
  min-height: 4rem;

}
.services__content-inner{
  display: flex;
  justify-content: space-between;
}

.services__content-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services__item{
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;  
  padding: 2rem 1rem;
  min-height: 32rem;
  position: relative;
  background-image: url(/images/content/colorstring.svg);   
  background-repeat: repeat-x;
  min-width: 136px;
  
  
  &:nth-child(3){
    margin-top: 2rem;
  }
  &:nth-child(4){
    margin-top: 2rem;
  }
}
.services__item-b{
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;  
  padding: 2rem 1rem;
  min-height: 32rem;
  position: relative;
  background-image: url(/images/content/colorstring.svg);   
  background-repeat: repeat-x;
  min-width: 136px;
}
  

.services__content-big__text{
  min-height: 8rem;
  color: #7C8C8E ;
}

.big__btns{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.big__btn{
  background-color: $grey40;
  margin-bottom: 1rem;
  margin-right: 2rem;
  padding: .5rem 2rem;
  border-radius: .5rem;
  color: $white;
}

.big__que{
  display: flex;
  padding-bottom: 2rem;
  border-bottom: 1px solid $blue60;
  margin-bottom: 2rem;
}
.one__que{
  padding: 2.875rem 1rem 2.875rem 1.9375rem;
  background: linear-gradient(92.86deg, #E0FBFF 0%, #BCF6FE 100%);
  box-shadow: 0px 2px 4px #FB5B95; 
  margin-right: 1rem;
  text-align: center; 
  position: relative;
  cursor: pointer; 
  border-radius: 0.5rem;
  &::before{
    position: absolute;
    content: '';    
    left: 0;
    top: 0;    
    background-image: url(/images/content/bgiquestions1.png);        
    width: 100%;
    height: 100%;    
          
  }   
}
.one__que-title, .two__que-title{
  margin-bottom: 1rem;
  width: 16rem;
  color: $grey80;
}

.one__que-link.info__item-link{
  color: $grey80;
  width: 8.9375rem;
  border-bottom: 1px solid $grey80;  
  font-size: 0.75rem;
  letter-spacing: 1.6px;
  min-height: 1.4375rem;
  font-weight: 700;
  padding-bottom: 0.375rem;
  &::after{
    
    color: $grey80;
    
  }
}

.two__que-link.info__item-link{
  color: $grey80;
  width: 8.9375rem;
  border-bottom: 1px solid $grey80;  
  font-size: 0.75rem;
  letter-spacing: 1.6px;
  min-height: 1.4375rem;
  font-weight: bold;
  padding-bottom: 0.375rem;
  &::after{
    
    color: $grey80;
    
  }
}

.two__que{  
  
  padding: 2.875rem 1rem 2.875rem 1.9375rem;  
  text-align: center;
  cursor: pointer;   
  border-radius: 0.5rem;  
  background: linear-gradient(92.86deg, #E0FBFF 0%, #BCF6FE 100%);
  box-shadow: 0px 2px 4px #FB5B95;  
  position: relative;   
  &::before{
    position: absolute;
    content: '';    
    left: 0;
    top: 0;    
    background-image: url(/images/content/bgiquestions2.png);        
    width: 100%;
    height: 100%;    
           
  }    
}




.big__bottom-btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.big__bottom-link.info__item-link,
.services__item-link.info__item-link{
  min-height: 1.4375rem;
  width: 10.3125rem;
  text-align: center;
  cursor: pointer;
}
.services__item-link{
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}


.services__item-img{  
  width: 16.625rem;
  height: 12.3125rem;
  background-size: cover;
  margin: 0 auto;
}

.services__item-title{
  color: $blue60;
  min-height: 3rem;
}

.services__item-text{
  min-height: 6rem;
  padding-bottom: 1rem;
  color:  #7C8C8E;;
}

.services__item-btn.btn-light{
  border: 1px solid #1EB9D8;
  background: #f4fbfc;
  border-radius: 0.5rem;
  box-shadow: none;
  color: $blue60;
  margin: 0 auto 1.5625rem;
  text-transform: uppercase;
  
}

.big__bottom-btnright.btn-light_b{
  background: #f4fbfc;
}

.bottom-services{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  
}

//servives end

//section PROMO start

.promo{  
  padding: 8rem 0 12rem;
}

.promo__top-box{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 3.5rem;
  flex-wrap: wrap;
}

.promo__title{
  min-height: 3rem;
  color: $blue60;
}

.promo__title-text{
  min-height: 4rem;
  color: $grey40;
}


.promo__items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.promo__item{
  display: flex;
  margin-bottom: 2rem;
  background-image: url(/images/content/colorstring.svg);   
  background-repeat: repeat-x;
  min-width: 8.5rem;
  padding-top: 0.5rem;
}

.promo__item-img{
  width: 400px;
  height: 328px; 
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 width: 100%;
}

.promo__item-right{
  background: linear-gradient(92.38deg, #43CDE9 0%, #0395B6 100%);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
  padding-left: 2rem;
  padding-top: 3rem;
  float: right;
}

.promo__item-title{
  color: $white;
  margin-bottom: 1.1875rem;
}
.promo__item-text{
  min-height: 6rem;
  color: $grey0;
}

.promo__item-date{
  color: $white;
  margin-top: 1.5625rem;
}

.promo__item-btn.btn-light_b{
  border: none;
  color: $grey100;
}

.promo__title-link.info__item-link{
  width: 10.3125rem;
  text-align: center;
  min-height: 1.4375rem;
  padding-bottom: 4px;
}
//section PROMO end

//section FEAR

.fear{
  padding: 8rem 0 12rem;
  background: #F4FBFC;
}
.fear__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fear__text-title{
  color: $pink60;
  min-height: 3rem;
  margin-bottom: 1rem;
}
.fear__text-description{
  min-height: 4rem;
  color: #6B7576;
  margin-bottom: 2rem;
}

.fear__text-items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.fear__text-item{
  max-width: 21.8125rem;
}

.fear__text-item-title{
  color: $blue60;
  min-height: 4rem;
  margin-bottom: 1rem;
}

.fear__text-item-desc{
  min-height: 8rem;
  color: #6B7576;
  
}

.fear__btns{
  display: flex;
  .fear__btn-pink{
    margin-right: 2rem;
  }
}

.fear__btn-white.btn-light_b{
  background: none;
}

//fancy__fear

.fancy__fear{
  margin-left: 2rem;
}
.fear-great-img{  
  img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 832px;
    height: 480px;
    border-radius: 1rem;
  }
  
}

.fancy-small{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  .fear__img{  
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 112px;
      height: 112px;  
      border-radius: 1rem;    
      &:hover{        
        background-blend-mode: multiply;
        background-color: #E43193;
        opacity: 0.5; 
        position: absolute;    
        border-radius: 1rem;
        position: relative;
        transition: all .3s;
        box-shadow: 0px 0px 20px #1EB9D8;
        &::before{
          position: absolute;
          content: '';                    
          background-image: url(/images/slider/Active.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          width: 24px;
          height: 24px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }    
  }
}




//fancy end




//section FEAR end



//section Baby ost

.slider__baby-box{
  display: flex;
   
}

.baby__ost{
  background: linear-gradient(94.09deg, #FB5B95 0%, #CC1F67 100%);
}

.slider__baby-img{
  background-size: cover;
  width: 1086px;
  height: 799px;
  float: left;

}

.slider__baby-icons{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5.4375rem;
  align-items: center;
}


.slider__baby-text {
  color: $white;
  margin-top: 8rem;
  margin-left: 11.125rem;
}

.slider__baby-title {
  min-height: 3rem;
}
.slider__baby-desc {
  min-height: 5.625rem;
  color: $pink10;
  margin-bottom: 4rem;
  margin-top: 1rem;
}


.slider__baby-icon {
  font-size: 12.5px;
  text-align: center;
  min-height: 3rem;
  img{
    margin: 0 auto;
  }
}

.slider__baby.slick-initialized.slick-slider.slick-dotted.slick-vertical{
  margin-bottom: 0px;
}

.slider__baby.slick-slider{
  position: relative;    
  .slick-dots{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 8rem;
    left: 7rem;
    max-height: 100px;
    
    li{
      margin-bottom: 2rem;
      width: 16px;
      height: 16px;
      font-size: 0;
      button{
        display: none;
      }
    }
    li::before{
      content: url(/images/slider/elipse-slider.png);
      
    }
    li.slick-active::before{
      content: url(/images/slider/Ellipse-big.png);
      height: 32px;
      width: 32px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      
    }
  }
  
  
}


//section Baby ost end



// section information

.information{
  background-color: #F4FBFC;
  padding: 8rem 0 14.375rem;
}
.inform__title-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.inform__title-head{
  color: $blue60;
  min-height: 3rem;
}

.inform__title-text{
  color: $grey40;
  min-height: 4rem;
}

.inform__title-link.info__item-link{
  min-height: 1.4375rem;
  width: 10.3125rem;
  text-align: center;
}

.inform__items{
  display: flex;
  justify-content: space-between;
}

.inform__item-box{
  padding: 0 2rem 1rem;
  position: absolute;
  top: 9rem;
  
}
.inform__item{
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);  
  position: relative;  
  background-image: url(/images/content/colorstring.svg); background-repeat: repeat-x; 
  z-index:333;
  min-width: 136px;
  padding-bottom: 18rem;
  img{
    margin-top: .5rem;
    
  }
}
.inform__item-img{
  position: relative;
  &::after {
  content: '';
  background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25rem;
  height: 8rem;
  }
}

  

.inform__item-title{
  max-width: 18rem;
  min-height: 4rem;
  margin-bottom: 1rem;
}

.inform__item-text{
  max-width: 21rem;
  color: #7C8C8E;
  min-height: 7rem;
  margin-bottom: 2rem;
}
.inform__item-btn{
  background-color: #F4FBFC;
}
//section information end


//section instagram start

.instagram{
  padding: 8rem 0 12rem;
}

.instagram__inner{
  display: flex;
}

.instagram__inner-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &+&{
    margin-left: 4rem;
  }
}

.instagram__item-img{
  img{
    width: 400px;
    height: 400px;
  }
}

.instagram__item-desc__text{
  min-height: 19rem;
  span{
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.instagram__item-desc__text{
  max-width: 22.9375rem;
}


.instagram__item-desc__link.info__item-link{
  min-height: 1.4375rem;
  width: 12.3125rem;
  text-align: center;
  letter-spacing: 1.6px;
}


.instagram__string{
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 106rem;
  height: 96px;
  background: linear-gradient(79.73deg, #FEDA75 0%, #FA7E1E 14.06%, #D62976 48.44%, #962FBF 81.25%, #4F5BD5 96.35%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}
.string__logo{
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  width: 16.125rem;
  align-items: center;
}
.string__text-title{
  color: $white;
  min-height: 2rem;
}
.string__text-subtitle{
  color: rgba(255, 253, 246, 0.6);
  min-height: 2.0625rem;
}
.string__contacts{
  display: flex;
  align-items: center;
  width: 31rem;
  justify-content: space-around;
}
.contact__mail{
  font-family: 'Arial', sans-serif;
  font-size: 32px;
  color: $white;
  font-weight: 700;
}
//section instagram end


//review start
.review{
  background-color: #F4FBFC;
}

@media screen and ( max-width: 1296px ){
  .main-bgimage{
    display: none;
  }
  .header__menu{
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  .services__content-items{
    margin-top: 2rem;
  }

  .services__content-inner{
    flex-wrap: wrap;
  }
  
  .bottom-services{
    flex-wrap: wrap;
    .services__item-b{
      margin-bottom: 2rem;
    }  
  }
}



@media screen and ( max-width: 695px ){
  
  .header__menu{
    ul{
      display: none;
    }
    
  }
  .header__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__logo{
    padding-bottom: 2rem;
    position: relative;
    
  }
  .main-wrap{
    flex-wrap: wrap;
  }
  .main-item{
    margin-bottom: 2rem;
  }
  .main-item:last-child{
    margin-bottom: 0;
  }
  .main-name{
    @include Subtitle;
  }
  .main-buttonline{
    flex-wrap: wrap;
  }
  .main-buttons{
    width: 100%;
    flex-wrap: wrap;
  }
  .main-button{
    @include Button-m
  }
  .main-order{
    margin: 1rem 0;
  }

  .services__content-big{
    &::before{
      background-image: none;
    }
    .btn-blue{
      margin-bottom: 1rem;
    }
    .big__bottom-btnright{
      margin-bottom: 1rem;
    }
    .big__que{
      flex-wrap: wrap;
      border: none;
      margin-bottom: 1rem;
    }
    .one__que{
      margin-bottom: 1rem;
  
    }
    .big__bottom-btns{
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  

}

