<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/site.webmanifest">
	<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#e4337d">
	<meta name="apple-mobile-web-app-title" content="Зубная фея. Мануальная терапия">
	<meta name="application-name" content="Зубная фея. Мануальная терапия">
	<meta name="msapplication-TileColor" content="#e4337d">
	<meta name="theme-color" content="#ffffff">
	<title>Зубная фея. Мануальная терапия</title>
	<link rel="stylesheet" href="/css/lib-therapy.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa:700|Play&display=swap&subset=cyrillic">
</head>
<body>
	<div class="fragment">
		<!-- **therapy** -->
		<div class="therapy pad_6rem">
			<div class="menu container">
				<div class="logo"></div>
				<div class="menu-wrap">
					<a href="https://feyazub.ru/" class="menu-item button-s">Наш медицинский центр</a>
					<a href="https://shop.feyazub.ru/" class="menu-item button-s">наш интернет магазин</a>
					<div class="menu-info">
						<a href="tel:+7 495 11 84 351" class="menu-phone">+7 495 11 84 351</a>
						<div class="menu-address">
							<div class="menu-address-1 button-s">москва</div>
							<div class="menu-address-2 button-m">улица Полковая, <br>дом <span>3</span>, строение 8</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container clearfix">
				<div class="therapy-bgimage"></div>
				<div class="therapy-box box-50_r">
					<h2 class="therapy-title h2">Мануальная терапия</h2>
					<div class="therapy-subtitle h5">Боль в спине, шее или плечах уменьшается <br>после <span>первого</span> посещение нашего врача!</div>
					<div class="therapy-wrap fl-3">
						<div class="therapy-item">
							<span class="therapy-icon icon icon-default-1"></span>
							<div class="therapy-name subtitle"><p>Рядом с метро Марьина Роща</p></div>
						</div>
						<div class="therapy-item">
							<span class="therapy-icon icon icon-default-2"></span>
							<div class="therapy-name subtitle"><p>Врач с большим опытом работы</p></div>
						</div>
						<div class="therapy-item">
							<span class="therapy-icon icon icon-default-3"></span>
							<div class="therapy-name subtitle"><p>Без боли даже для младенцев</p></div>
						</div>
					</div>
					<div class="therapy-btnline">
						<a href="#" class="therapy-button button-l btn-pink ms_booking">Записаться на прием</a>
						<div class="therapy-or body-l">или</div>
						<div class="therapy-next body-l"><span class="therapy-scroll icon icon-scroll"></span>листайте ниже что <br>бы узнать больше</div>
					</div>
				</div>
			</div>
		</div>
		<!-- **case** -->
		<div class="case pad_default">
			<div class="container">
				<h4 class="case-title title title-therapy h4">В каких еще случаях вам точно <br>необходима помошь мануального врача?</h4>
				<p class="case-description description body-l">Задача организации, в особенности же консультация с широким активом влечет за собой процесс внедрения и модернизации
				соответствующий условий активизации.</p>
				<div class="case-wrap">
					<div class="case-item fl-3">
						<h4 class="case-name h4">Если у вас болит <br>спина или поясница</h4>
						<div class="case-text body-m">Разнообразный и богатый опыт укрепление и развитие структуры в значительной степени обуславливает создание позиций, занимаемых участниками.</div>
						<a href="#" class="case-order button-l btn-light ms_booking">ДА, именно это меня беспокоит</a>
					</div>
					<div class="case-item fl-3">
						<h4 class="case-name h4">Если вас часто <br>мучают боли в шее</h4>
						<div class="case-text body-m">Разнообразный и богатый опыт укрепление и развитие структуры в значительной степени обуславливает создание позиций, занимаемых участниками.</div>
						<a href="#" class="case-order button-l btn-light ms_booking">ДА, меня это беспокоит</a>
					</div>
					<div class="case-item fl-3">
						<h4 class="case-name h4">Если вас мучают <br>головные боли</h4>
						<div class="case-text body-m">Разнообразный и богатый опыт укрепление и развитие структуры в значительной степени обуславливает создание позиций, занимаемых участниками.</div>
						<a href="#" class="case-order button-l btn-light ms_booking">ДА, меня это беспокоит</a>
					</div>
					<div class="case-item fl-3">
						<h5 class="case-name h5">Ели у вас ВНЧС (Дисфункция <br>височно-нижнечелюстного сустава)</h5>
						<div class="case-text body-m">Разнообразный и богатый опыт укрепление и развитие структуры в значительной степени обуславливает создание позиций, занимаемых участниками.</div>
						<a href="#" class="case-order button-l btn-light ms_booking">ДА, меня это беспокоит</a>
					</div>
				</div>
			</div>
		</div>
		<!-- **method** -->
		<div class="method pad_default">
			<div class="container">
				<h4 class="method-title title title-therapy h4">Специальные приемы и методики <br>позволяют мануальному терапевту:</h4>
				<p class="method-description description body-l">Задача организации, в особенности же консультация с широким активом влечет за собой процесс внедрения и модернизации
				соответствующий условий активизации.</p>
				<div class="method-wrap">
					<div class="method-item fl-3">
						<div class="method-number">1</div>
						<h6 class="method-name h6">Снять боль при патологических <br>состояниях позвоночника и мышц</h6>
						<div class="method-text body-m">Разнообразный и богатый опыт укрепление и развитие структуры в значительной степени обуславливает создание позиций, занимаемых участниками.</div>
					</div>
					<div class="method-item fl-3">
						<div class="method-number">2</div>
						<h6 class="method-name h6">Устранить нарушения осанки и <br>деформацию позвоночника</h6>
						<div class="method-text body-m">Разнообразный и богатый опыт укрепление и развитие структуры в значительной степени обуславливает создание позиций, занимаемых участниками.</div>
					</div>
					<div class="method-item fl-3">
						<div class="method-number">3</div>
						<h6 class="method-name h6">Решить проблему защемления нервных <br>окончаний и кровеносных сосудов</h6>
						<div class="method-text body-m">Разнообразный и богатый опыт укрепление и развитие структуры в значительной степени обуславливает создание позиций, занимаемых участниками.</div>
					</div>
					<div class="method-item fl-3">
						<div class="method-number">4</div>
						<h6 class="method-name h6">Помочь при обморочных <br>состояниях, головокружениях, <br>мигрени, головных болях</h6>
						<div class="method-text body-m">Разнообразный и богатый опыт укрепление и развитие структуры в значительной степени обуславливает создание позиций, занимаемых участниками.</div>
					</div>
					<div class="method-item fl-3">
						<div class="method-number">5</div>
						<h6 class="method-name h6">При заболеваниях позвоночника <br>(остеохондроз, грыжи, протрузии, <br>сколиоз и др.)</h6>
						<div class="method-text body-m">Разнообразный и богатый опыт укрепление и развитие структуры в значительной степени обуславливает создание позиций, занимаемых участниками.</div>
					</div>
					<div class="method-item fl-3">
						<div class="method-number">6</div>
						<h6 class="method-name h6">Заболеваниях внутренних органов, <br>связанных с патологиями <br>позвоночника.</h6>
						<div class="method-text body-m">Разнообразный и богатый опыт укрепление и развитие структуры в значительной степени обуславливает создание позиций, занимаемых участниками.</div>
					</div>
					<div class="method-item fl-3">
						<div class="method-number">7</div>
						<h6 class="method-name h6">Устранить проблемы ВНЧС <br>(Дисфункция височно-<br>нижнечелюстного сустава)</h6>
						<div class="method-text body-m">Разнообразный и богатый опыт укрепление и развитие структуры в значительной степени обуславливает создание позиций, занимаемых участниками.</div>
					</div>
					<div class="method-item method-flex fl-3"></div>
				</div>
			</div>
		</div>
		<!-- **banaction** -->
		<div class="banaction pad_7rem">
			<div class="container clearfix">
				<div class="banaction-bgimage"></div>
				<div class="banaction-box box-50_l">
					<h2 class="banaction-title h3">ИЗБАВЬТЕ СВОЕ ТЕЛО ОТ БОЛИ</h2>
					<div class="banaction-subtitle h4">С ПОМОШЬЮ МАНУАЛЬНОЙ ТЕРАПИИ</div>
					<div class="banaction-text body-l fl-3">
						Таким образом дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание соответствующий условий активизации.
					</div>
					<div class="banaction-wrap fl-3">
						<div class="banaction-item">
							<span class="banaction-icon icon icon-default-4"></span>
							<div class="banaction-name subtitle"><p>Безболезненные манипуляции во вреия приема</p></div>
						</div>
						<div class="banaction-item">
							<span class="banaction-icon icon icon-default-5"></span>
							<div class="banaction-name subtitle"><p>Уменьшение боли уже после первого приема врача</p></div>
						</div>
						<div class="banaction-item">
							<span class="banaction-icon icon icon-default-2"></span>
							<div class="banaction-name subtitle"><p>Врачи с высшим медицинским образованием</p></div>
						</div>
					</div>
					<div class="banaction-btnline">
						<a href="#" class="banaction-button button-l btn-pink ms_booking">записаться на прием</a>
					</div>
				</div>
			</div>
		</div>
		<!-- **service** -->
		<div class="service pad_default">
			<div class="container">
				<h4 class="service-title title title-therapy h4">Какие техники применяет <br>наш мануальный терапевт?</h4>
				<p class="service-description description body-l">Задача организации, в особенности же консультация с широким активом влечет за собой процесс внедрения и модернизации
				соответствующий условий активизации.</p>
				<div class="service-wrap">
					<div class="service-item fl-3">
						<div class="service-icon"><span class="icon icon-technique-1"></span></div>
						<h6 class="service-name h6">Различные виды манипуляций</h6>
						<div class="service-text body-m">Задача организации, в особенности же консультация с широким активом влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Идейные соображения высшего порядка, а также рамки и место обучения кадров требуют определения и уточнения направлений прогрессивного развития.</div>
					</div>
					<div class="service-item fl-3">
						<div class="service-icon"><span class="icon icon-technique-2"></span></div>
						<h6 class="service-name h6">Методы ауторелаксации</h6>
						<div class="service-text body-m">Задача организации, в особенности же консультация с широким активом влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Идейные соображения высшего порядка, а также рамки и место обучения кадров требуют определения и уточнения направлений прогрессивного развития.</div>
					</div>
					<div class="service-item fl-3">
						<div class="service-icon"><span class="icon icon-technique-3"></span></div>
						<h6 class="service-name h6">Постизометрической релаксации мышц</h6>
						<div class="service-text body-m">Задача организации, в особенности же консультация с широким активом влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Идейные соображения высшего порядка, а также рамки и место обучения кадров требуют определения и уточнения направлений прогрессивного развития.</div>
					</div>
					<div class="service-item fl-3">
						<div class="service-icon"><span class="icon icon-technique-4"></span></div>
						<h6 class="service-name h6">Тракционные техники</h6>
						<div class="service-text body-m">Задача организации, в особенности же консультация с широким активом влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Идейные соображения высшего порядка, а также рамки и место обучения кадров требуют определения и уточнения направлений прогрессивного развития.</div>
					</div>
				</div>
			</div>
		</div>
		<!-- **question** -->
		<div class="question pad_default">
			<div class="container">
				<div class="question-bgimage"></div>
				<div class="question-cloud question-cloud-i1">
					<div class="question-overline overline">очень частый вопрос перед записью на прием</div>
					<h4 class="question-title h4">Сколько сеансов необходимо, для того что бы боль в спине, шее или плечах ушла?</h4>
				</div>
				<div class="question-cloud question-cloud-i2">
					<div class="question-overline overline">ответ от нашего медицинского центра</div>
					<h4 class="question-title h4">почти всегда достаточно ДВУХ сеансов</h4>
					<div class="question-text body-m">С другой стороны рамки и место обучения кадров играет важную роль в формировании систем массового участия. Значимость этих проблем настолько очевидна, что сложившаяся структура организации влечет за собой. Задача организации, в особенности же постоянный количественный рост.</div>
				</div>
				<div class="question-wrap box-50">
					<div class="question-contact">
						<a href="https://web.whatsapp.com/send?phone=79263519351" class="question-whatsup">
							<img src="/images/whatsup.svg">
							<div class="question-linkto linkto">написать в WhatsApp <span class="icon icon-linkto"></span></div>
						</a>
						<div class="question-or">
							<div class="subtitle">или самостоятельно по номеру</div>
							<div class="caption">(номер так же доступен для звонков)</div>
						</div>
						<a href="tel:+79263519351" class="question-phone">+7 926 351 9 351</a>
					</div>
					<div class="question-comment body-l">
						<p>С целью заботы о наших клиентах, мы с радостью отвечаем на любые, заинтересовавшие вас вопросы.</p>
						<p>Написав в месенджер, вы не отвлекаете нас от лечения пациентов, но получаете быстрый и квалифицированный ответ.</p>
					</div>
				</div>
			</div>
		</div>
		<!-- **safety** -->
		<div class="safety pad_default">
			<div class="container">
				<h4 class="safety-title title title-therapy h4">Как мы заботимся о вашей безопасности?</h4>
				<p class="safety-description description body-l">Это довольно важный пункт в косметологии, которым ни в коем случае нельзя пренебрегать. Следование четким инструкциям, ответственное отношение к здоровью пациентов и использование зарекомендовавших себя средств — все это вы встретите в нашей клинике.</p>
				<div class="safety-wrap">
					<div class="safety-item div safety-item fl-3 safety-i1">
						<div class="safety-image"></div>
						<div class="safety-jar">
							<h6 class="safety-name h6">Соблюдение 4 строгих медицинских этапов стерилизации инструмента</h6>
							<div class="safety-text body-m">Обработка проводится поэтапно в строгом соответствии правилам работы с косметологическим инструментом. Каждая из ступеней дезинфекции выполняет свою функцию по избавлению от нежелательных последствий. В совокупности вся процедура стерилизации дает возможность дальнейшей безопасной работы косметолога.</div>
						</div>
					</div>
					<div class="safety-item div safety-item fl-3 safety-i2">
						<div class="safety-image"></div>
						<div class="safety-jar">
							<h6 class="safety-name h6">У нас работают косметологи с высшим медицинским образованием.</h6>
							<div class="safety-text body-m">Сотрудники нашего медицинского центра — квалифицированными врачи, с многолетним опытом и личными заслугами в сфере здравоохранения. Каждый работник нашего учреждения проходит серьезное собеседование перед приемом на работу и обязательно имеет специализированное образование. Косметологи не исключение.</div>
						</div>
					</div>
					<div class="safety-item div safety-item fl-3 safety-i3">
						<div class="safety-image"></div>
						<div class="safety-jar">
							<h6 class="safety-name h6">Наш мануальный терапевт работает безопасно и аккуратно даже с маленькими детьми</h6>
							<div class="safety-text body-m">Разнообразный и богатый опыт укрепление и развитие структуры в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что сложившаяся структура организации влечет.</div>
						</div>
					</div>
					<div class="safety-item div safety-item fl-3 safety-i4">
						<div class="safety-logo">
							<img src="../images/logo-old.svg">
						</div>
						<div class="safety-jar">
							<h4 class="safety-name h4">Для тех кто вырос, <br>но все еще боится!</h4>
							<div class="safety-text body-m">Мы говорим просто о сложных вещах, <br>подходим индивидуально к Вашему лечению.</div>
							<a href="https://feyazub.ru/" class="safety-link linkto_white">Узнать больше <span class="icon icon-linkto"></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- **myth** -->
		<div class="myth pad_default">
			<div class="container">
        <h4 class="myth-title title title-therapy h4">Мифы о мануальной терапии</h4>
        <p class="myth-description description body-s">Задача организации, в особенности же консультация с широким активом влечет за собой процесс внедрения и модернизации
        соответствующий условий активизации.</p>
				<div class="tabs vertical">

					<ul class="tabs-caption tabs-caption_left">
						<li class="active button-l" data-index="0">для ребенка это точно опасно?</li>
						<li class="button-l" data-index="1">Лечение будет длительным?</li>
						<li class="button-l" data-index="2">Мануальный терапевт не может диагностировать внутреннее заболевание у пациента?</li>
					</ul>

					<ul class="tabs-caption tabs-caption_right">
						<li class="button-l" data-index="3">Может навредить пациенту?</li>
						<li class="button-l" data-index="4">во время процедуры будет больно?</li>
						<li class="button-l" data-index="5">Это просто разновидность массажа?</li>
						<li class="button-l" data-index="6">Мануальный терапевт работает только с позвоночником?</li>
					</ul>

          <div class="myth-container box-50">
            <div class="myth-wrap tabs-content" style="display: block;">
              <div class="myth-item myth-i1">
                <div class="myth-name h5">
                  <div class="myth-firstname">Заблуждение:</div>
                  Мануальная терапия может навредить пациенту
                </div>
                <div class="myth-text">Задача организации, в особенности же консультация с широким активом влечет за собой процесс
                  внедрения и модернизации
                  соответствующий условий активизации.</div>
              </div>
              <div class="myth-item myth-i2">
                <div class="myth-name h5">
                  <div class="myth-firstname">На самом деле:</div>
                  Мануальная терапия безопасна для здоровья человека
                </div>
                <div class="myth-text">С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности
                  позволяет оценить значение дальнейших направлений развития. Значимость этих проблем настолько очевидна, что
                  постоянный количественный рост и сфера нашей активности позволяет оценить значение форм развития. Равным образом
                  консультация с широким активом в значительной степени обуславливает создание направлений прогрессивного развития.
                </div>
              </div>
            </div>
            <div class="myth-wrap tabs-content">
              <div class="myth-item myth-i1">
                <div class="myth-name h5">
                  <div class="myth-firstname">Заблуждение2:</div>
                  Мануальная терапия может навредить пациенту
                </div>
                <div class="myth-text">Задача организации, в особенности же консультация с широким активом влечет за собой процесс
                  внедрения и модернизации
                  соответствующий условий активизации.</div>
              </div>
              <div class="myth-item myth-i2">
                <div class="myth-name h5">
                  <div class="myth-firstname">На самом деле2:</div>
                  Мануальная терапия безопасна для здоровья человека
                </div>
                <div class="myth-text">С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности
                  позволяет оценить значение дальнейших направлений развития. Значимость этих проблем настолько очевидна, что
                  постоянный количественный рост и сфера нашей активности позволяет оценить значение форм развития. Равным образом
                  консультация с широким активом в значительной степени обуславливает создание направлений прогрессивного развития.
                </div>
              </div>
            </div>
            <div class="myth-wrap tabs-content">
              <div class="myth-item myth-i1">
                <div class="myth-name h5">
                  <div class="myth-firstname">Заблуждение3:</div>
                  Мануальная терапия может навредить пациенту
                </div>
                <div class="myth-text">Задача организации, в особенности же консультация с широким активом влечет за собой процесс
                  внедрения и модернизации
                  соответствующий условий активизации.</div>
              </div>
              <div class="myth-item myth-i2">
                <div class="myth-name h5">
                  <div class="myth-firstname">На самом деле3:</div>
                  Мануальная терапия безопасна для здоровья человека
                </div>
                <div class="myth-text">С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности
                  позволяет оценить значение дальнейших направлений развития. Значимость этих проблем настолько очевидна, что
                  постоянный количественный рост и сфера нашей активности позволяет оценить значение форм развития. Равным образом
                  консультация с широким активом в значительной степени обуславливает создание направлений прогрессивного развития.
                </div>
              </div>
            </div>
            <div class="myth-wrap tabs-content">
              <div class="myth-item myth-i1">
                <div class="myth-name h5">
                  <div class="myth-firstname">Заблуждение4:</div>
                  Мануальная терапия может навредить пациенту
                </div>
                <div class="myth-text">Задача организации, в особенности же консультация с широким активом влечет за собой процесс
                  внедрения и модернизации
                  соответствующий условий активизации.</div>
              </div>
              <div class="myth-item myth-i2">
                <div class="myth-name h5">
                  <div class="myth-firstname">На самом деле4:</div>
                  Мануальная терапия безопасна для здоровья человека
                </div>
                <div class="myth-text">С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности
                  позволяет оценить значение дальнейших направлений развития. Значимость этих проблем настолько очевидна, что
                  постоянный количественный рост и сфера нашей активности позволяет оценить значение форм развития. Равным образом
                  консультация с широким активом в значительной степени обуславливает создание направлений прогрессивного развития.
                </div>
              </div>
            </div>
            <div class="myth-wrap tabs-content">
              <div class="myth-item myth-i1">
                <div class="myth-name h5">
                  <div class="myth-firstname">Заблуждение5:</div>
                  Мануальная терапия может навредить пациенту
                </div>
                <div class="myth-text">Задача организации, в особенности же консультация с широким активом влечет за собой процесс
                  внедрения и модернизации
                  соответствующий условий активизации.</div>
              </div>
              <div class="myth-item myth-i2">
                <div class="myth-name h5">
                  <div class="myth-firstname">На самом деле5:</div>
                  Мануальная терапия безопасна для здоровья человека
                </div>
                <div class="myth-text">С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности
                  позволяет оценить значение дальнейших направлений развития. Значимость этих проблем настолько очевидна, что
                  постоянный количественный рост и сфера нашей активности позволяет оценить значение форм развития. Равным образом
                  консультация с широким активом в значительной степени обуславливает создание направлений прогрессивного развития.
                </div>
              </div>
            </div>
            <div class="myth-wrap tabs-content">
              <div class="myth-item myth-i1">
                <div class="myth-name h5">
                  <div class="myth-firstname">Заблуждение6:</div>
                  Мануальная терапия может навредить пациенту
                </div>
                <div class="myth-text">Задача организации, в особенности же консультация с широким активом влечет за собой процесс
                  внедрения и модернизации
                  соответствующий условий активизации.</div>
              </div>
              <div class="myth-item myth-i2">
                <div class="myth-name h5">
                  <div class="myth-firstname">На самом деле6:</div>
                  Мануальная терапия безопасна для здоровья человека
                </div>
                <div class="myth-text">С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности
                  позволяет оценить значение дальнейших направлений развития. Значимость этих проблем настолько очевидна, что
                  постоянный количественный рост и сфера нашей активности позволяет оценить значение форм развития. Равным образом
                  консультация с широким активом в значительной степени обуславливает создание направлений прогрессивного развития.
                </div>
              </div>
            </div>
            <div class="myth-wrap tabs-content">
              <div class="myth-item myth-i1">
                <div class="myth-name h5">
                  <div class="myth-firstname">Заблуждение7:</div>
                  Мануальная терапия может навредить пациенту
                </div>
                <div class="myth-text">Задача организации, в особенности же консультация с широким активом влечет за собой процесс
                  внедрения и модернизации
                  соответствующий условий активизации.</div>
              </div>
              <div class="myth-item myth-i2">
                <div class="myth-name h5">
                  <div class="myth-firstname">На самом деле7:</div>
                  Мануальная терапия безопасна для здоровья человека
                </div>
                <div class="myth-text">С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности
                  позволяет оценить значение дальнейших направлений развития. Значимость этих проблем настолько очевидна, что
                  постоянный количественный рост и сфера нашей активности позволяет оценить значение форм развития. Равным образом
                  консультация с широким активом в значительной степени обуславливает создание направлений прогрессивного развития.
                </div>
              </div>
            </div>
          </div>
				</div><!-- .tabs -->
        <div class="howlike">
          <div class="howlike-wrap">
            <div class="howlike-jar_dislike"></div>
            <a href="#" class="howlike-button button-l btn-light_b">следующий миф</a>
            <div class="howlike-jar_like"></div>
          </div>
        </div>
			</div>
		</div>
		<!-- **action** -->
		<div class="action pad_default">
			<div class="container">
				<div class="action-wrap box-50">
					<h4 class="action-subtitle h4">оплачивай сразу два сеанса</h4>
					<h2 class="action-title h2">и получи выгоду в 10%</h2>
					<h5 class="action-description h4">а также получи персональную скидку в 500 рублей <br>на все следующие приемы мануального врача</h5>
					<h3 class="action-text h3">ПРОМОКОД: MANUAL10</h3>
					<div class="action-comment body-l">Обязательно проконсультируйтесь с врачем, перед <br>тем как оплачивать услуги мануального врача!</div>
					<a href="#" class="action-button button-l btn-pink ms_booking">записаться на прием</a>
				</div>
			</div>
		</div>
    <!-- **difference** -->
    <div class="difference pad_default">
      <div class="container">
				<h4 class="difference-title title title-therapy h3">Чем отличается мануальная терапия от остеопатии?</h4>
				<div class="difference-description body-l">Задача организации, в особенности же консультация с широким активом влечет за собой процесс внедрения и модернизации соответствующий условий активизации.</div>
        <div class="difference-wrap">
          <div class="difference-item fl-6">
            <h4 class="difference-name h4">Мануальная терапия это</h4>
            <div class="difference-subname body-m">Задача организации, в особенности же консультация с широким активом влечет за собой процесс внедрения и модернизации соответствующий условий активизации.</div>
            <div class="difference-jar fl-3">
              <div class="difference-element">
                <span class="difference-icon icon icon-default-2"></span>
                <div class="difference-subicon subtitle">Врач с большим опытом работы</div>
              </div>
              <div class="difference-element">
                <span class="difference-icon icon icon-default-2"></span>
                <div class="difference-subicon subtitle">Врач с большим опытом работы</div>
              </div>
              <div class="difference-element">
                <span class="difference-icon icon icon-default-2"></span>
                <div class="difference-subicon subtitle">Врач с большим опытом работы</div>
              </div>
            </div>
            <div class="difference-text body-m">Повседневная практика показывает, что начало повседневной работы по формированию позиции требуют определения и уточнения систем массового участия. Идейные соображения высшего порядка, а также новая модель организационной деятельности требуют от нас анализа соответствующий условий активизации. Таким образом начало повседневной работы по формированию позиции способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям.</div>
            <a href="#" class="difference-button button-l btn-blue ms_booking">Записаться на прием <br>к мануальному терапевту</a>
          </div>
          <div class="difference-item fl-6">
            <h4 class="difference-name h4">Остеопатия это</h4>
            <div class="difference-subname body-m">Задача организации, в особенности же консультация с широким активом влечет за собой процесс внедрения и модернизации соответствующий условий активизации.</div>
            <div class="difference-jar fl-3">
              <div class="difference-element">
                <span class="difference-icon icon icon-default-2"></span>
                <div class="difference-subicon subtitle">Врач с большим опытом работы</div>
              </div>
              <div class="difference-element">
                <span class="difference-icon icon icon-default-2"></span>
                <div class="difference-subicon subtitle">Врач с большим опытом работы</div>
              </div>
              <div class="difference-element">
                <span class="difference-icon icon icon-default-2"></span>
                <div class="difference-subicon subtitle">Врач с большим опытом работы</div>
              </div>
            </div>
            <div class="difference-text body-m">Повседневная практика показывает, что начало повседневной работы по формированию позиции требуют определения и уточнения систем массового участия. Идейные соображения высшего порядка, а также новая модель организационной деятельности требуют от нас анализа соответствующий условий активизации. Таким образом начало повседневной работы по формированию позиции способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям.</div>
            <a href="#" class="difference-button button-l btn-light ms_booking">узнать больше и записаться <br>на прием к остеопату</a>
          </div>
        </div>
      </div>
    </div>
		<!-- **info** -->
		<div class="info pad_default">
			<div class="container">
				<div class="info-wrap box-50_l">
					<div class="info-item fl-3">
						<h4 class="info-name h4">Кто отвечает за качество?</h4>
						<div class="info-jar">
							<div class="info-text body-l">У нас работают высококвалифицированные врачи разных специальностей, которые отнесутся к вам с высоким профессионализмом и окажут необходимую помощь. Мы говорим просто о сложных вещах и индивидуально подходим к вашему лечению.</div>
							<a href="https://feyazub.ru/" class="info-link linkto">наш веб сайт <span class="icon icon-linkto"></span></a>
						</div>
					</div>
					<div class="info-item fl-3">
						<h4 class="info-name h4">Наши лицензии</h4>
						<div class="info-jar">
							<div class="info-text body-l">Требование об обязательном наличии лицензии на оказание услуг в области здравоохранения закреплено на государственном уровне. В данном разделе вы можете с ней ознакомиться. Мы несомненно соответствуем высоким стандартам качества предоставления медицинских услуг.</div>
							<a href="https://feyazub.ru/pacientam/licenses" class="info-link linkto">НАши лицензии <span class="icon icon-linkto"></span></a>
						</div>
					</div>
					<div class="info-item fl-3">
						<h4 class="info-name h5">Для тех кто вырос, <br>но все ещё боится!</h4>
						<div class="info-jar">
							<div class="info-text body-l">В отличие от устаревшего принципа муниципальных поликлиник, заключающегося в лечении по стандартным унифицированным методикам, наш современный подход основывается на предельно открытом взаимодействии врача и пациента, с обязательным учетом индивидуальных параметров.</div>
							<a href="https://feyazub.ru/" class="info-link linkto">я боюсь лечится <span class="icon icon-linkto"></span></a>
						</div>
					</div>
					<div class="info-item fl-3">
						<h4 class="info-name h5">Следите за нами в инстаграме и получайте скидки!</h4>
						<div class="info-jar">
							<div class="info-text body-l">У нас в инстаграме вы найдёте текущие акции, полезные советы и отзывы клиентов. Также в постах сможете почерпнуть для себя большое количество информации, раскрывающей ту или иную тему, связанную с нашей деятельностью. Подпишитесь на нас, чтобы ничего не пропустить!</div>
							<a href="https://www.instagram.com/feyazub.ru" class="info-link linkto">instagram профиль <span class="icon icon-linkto"></span></a>
						</div>
					</div>
				</div>
				<div class="info-bgimage"></div>
			</div>
		</div>
		<!-- **review** -->
		<div class="review pad_default">
			<div class="container">
				<h4 class="review-title title h4">Реальные отзывы о нашей клинике</h4>
				<div class="review-description description">Мнение клиентов о нашей работе — это огромный стимул роста. Ваши отзывы дают нам понимание в каком направлении двигаться дальше. И вот некоторые из них:</div>
				<div class="review-wrap">
					<div class="review-slider slider_review fl-6">
						<div class="slider_review-item">
							<h6 class="slider_review-title h6">ОТЗЫВ НА YANDEX КАРТАХ</h6>
							<div class="slider_review-name caption">Написал: Anton D.</div>
							<div class="slider_review-rating overline"><img src="../images/rating/5.png"><span>5 звезды из 5</span></div>
							<div class="slider_review-text body-m">Попал сюда по рекомендации. Сразу почувстврвал невероятную разницу с предыдущей стоматологией - всегда иду в назначенное время, все чисто стильно и уютно. Продуманность и вниманииельность до мелочей. Все врачи имеют высокую квалификацию - отсюда и абсолютно безболезненные процедуры, которые ранее вызввали чувство дискомфорта. Езжу теперь всей семьей)</div>
						</div>
						<div class="slider_review-item">
							<h6 class="slider_review-title h6">ОТЗЫВ НА YANDEX КАРТАХ</h6>
							<div class="slider_review-name caption">Написал: Наталия П.</div>
							<div class="slider_review-rating overline"><img src="../images/rating/5.png"><span>5 звезды из 5</span></div>
							<div class="slider_review-text body-m">Спасибо огромное чете Максимовых за их клинику, они подобрали очень квалифицированный и чуткий персонал. Рентген разговаривает по русски😄👍 Удаляла 2 верхнии восьмёрки (зубы мудрости) за один раз у Михайловой Анастасии Борисовны, всё хорошо. Анастезия супер. Спасибо большое всему персоналу.</div>
						</div>
						<div class="slider_review-item">
							<h6 class="slider_review-title h6">ОТЗЫВ НА GOOGLE КАРТАХ</h6>
							<div class="slider_review-name caption">Написал: Кирилл Насунов</div>
							<div class="slider_review-rating overline"><img src="../images/rating/5.png"><span>5 звезды из 5</span></div>
							<div class="slider_review-text body-m">Спонтанно обратился сюда. В конце трудовой недели был сильно напряжен и устал. Не далеко от дома находится данная клиника, каждый день мимо нее езжу. И вот обратился за массажем. Не дорого я скажу. Усталость и напряжение как рукой сняло. В этот вечер я спал дома как младенец.</div>
						</div>
						<div class="slider_review-item">
							<h6 class="slider_review-title h6">ОТЗЫВ НА 2GIS</h6>
							<div class="slider_review-name caption">Написал: Николай Роганков</div>
							<div class="slider_review-rating overline"><img src="../images/rating/5.png"><span>5 звезды из 5</span></div>
							<div class="slider_review-text body-m">с супругой посещаем эту клинику. изначально цены понравились, затем лечение. <br>безболезненно, быстро, и самое главное качественно.</div>
						</div>
					</div>
					<div class="review-maps fl-6">
						<div class="maps">
							<h6 class="maps-title h6">ПОСМОТРЕТЬ БОЛЬШЕ ОТЗЫВОВ <br>О НАС ВЫ МОЖЕТЕ ТУТ:</h6>
							<div class="maps-wrap">
								<div class="maps-item maps-i1">
									<img src="../images/2gis.png" class="maps-image">
									<a href="https://2gis.ru/moscow/firm/70000001034233857/reviews/firm/70000001034233857?queryState=center%2F37.60695%2C55.799207%2Fzoom%2F17" target="_blank" class="maps-link linkto">отзывы на 2gis <span class="icon icon-linkto"></span></a>
								</div>
								<div class="maps-item maps-i2">
									<img src="../images/google-maps.png" class="maps-image">
									<a href="https://www.google.com/search?ei=wM9GXKG8HcnRswH6qKyoDw&q=%D0%A2%D0%B5%D1%80%D1%80%D0%B8%D1%82%D0%BE%D1%80%D0%B8%D1%8F+%D0%B7%D1%83%D0%B1%D0%BD%D0%BE%D0%B9+%D1%84%D0%B5%D0%B8+google+maps&oq=%D0%A2%D0%B5%D1%80%D1%80%D0%B8%D1%82%D0%BE%D1%80%D0%B8%D1%8F+%D0%B7%D1%83%D0%B1%D0%BD%D0%BE%D0%B9+%D1%84%D0%B5%D0%B8+google+maps&gs_l=psy-ab.3..35i39.867.1682..2001...0.0..0.165.584.0j4......0....1..gws-wiz.-v8OJS4oTwo#lrd=0x46b53575a9675c5d:0xe7366c7fd29a8f88,1" target="_blank" class="maps-link linkto">отзывы на google <span class="icon icon-linkto"></span></a>
								</div>
								<div class="maps-item maps-i3">
									<img src="../images/yandex-maps.png" class="maps-image">
									<a href="https://yandex.ru/maps/org/territoriya_zubnoy_fei_i_semi_medikov/173416880800/?ll=37.606954%2C55.798950&z=17" target="_blank" class="maps-link linkto">отзывы на yandex <span class="icon icon-linkto"></span></a>
								</div>
							</div>
							<div class="maps-text box-4">Пожалуйста, не забывайте оставлять отзывы о нашей клинике в любом из данных сервисов, тем самым вы помогаете нам развиваться, добавляя новые качественные услуги и регулярно проводить акции.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- **footer** -->
		<div class="footer pad_10rem">
			<div class="container">
				<div class="footer-wrap">
					<div class="footer-map fl-4">
						<img class="footer-map-image" src="../images/footer-map.svg">
						<div class="footer-map-wrap">
							<a href="https://2gis.ru/moscow/firm/70000001034233857/to/37.607016%2C55.798543%7C%D0%A2%D0%B5%D1%80%D1%80%D0%B8%D1%82%D0%BE%D1%80%D0%B8%D1%8F%20%D0%B7%D1%83%D0%B1%D0%BD%D0%BE%D0%B9%20%D1%84%D0%B5%D0%B8%20%D0%B8%20%D1%81%D0%B5%D0%BC%D0%B8%20%D0%BC%D0%B5%D0%B4%D0%B8%D0%BA%D0%BE%D0%B2%7C70000001034233857%7Cfirm?queryState=center%2F37.610568%2C55.796004%2Fzoom%2F16%2FrouteTab" target="_blank" class="footer-map-link linkto">маршрут на 2gis <span class="icon icon-linkto"></span></a>
							<a href="https://www.google.com/maps/dir//%D0%A2%D0%B5%D1%80%D1%80%D0%B8%D1%82%D0%BE%D1%80%D0%B8%D1%8F+%D0%B7%D1%83%D0%B1%D0%BD%D0%BE%D0%B9+%D1%84%D0%B5%D0%B8+google+maps/@55.8000741,37.5898898,13.36z/data=!4m8!4m7!1m0!1m5!1m1!1s0x46b53575a9675c5d:0xe7366c7fd29a8f88!2m2!1d37.6069179!2d55.798942" target="_blank" class="footer-map-link linkto">маршрут на google <span class="icon icon-linkto"></span></a>
							<a href="https://yandex.ru/maps/213/moscow/?ll=37.632367%2C55.793422&mode=routes&rtext=~55.798805%2C37.606847&rtt=auto&ruri=~ymapsbm1%3A%2F%2Forg%3Foid%3D173416880800&z=12.86" target="_blank" class="footer-map-link linkto">маршрут на yandex <span class="icon icon-linkto"></span></a>
						</div>
					</div>
					<div class="footer-logo">
						<img src="../images/logo-old_blue.svg">
					</div>
					<div class="footer-contact fl-4">
						<div class="footer-contact-wrap">
							<div class="footer-contact-item">
								<span class="footer-contact-icon"></span>
								<div class="footer-contact-jar">
									<div class="footer-contact-name body-m">Наш адрес:</div>
									<div class="footer-contact-text body-m">Город Москва, улица Полковая, <br>дом 3, строение 8, второй этаж.</div>
								</div>
							</div>
							<div class="footer-contact-item">
								<span class="footer-contact-icon"></span>
								<div class="footer-contact-jar">
									<div class="footer-contact-name body-m">Наш телефон и WhatsApp:</div>
									<a href="tel:+79263519351" class="footer-contact-text body-m">+7 (926) 351 9 351</a>
								</div>
							</div>
							<div class="footer-contact-item">
								<span class="footer-contact-icon"></span>
								<div class="footer-contact-jar">
									<div class="footer-contact-name body-m">Наш время работы:</div>
									<div class="footer-contact-text body-m">с 10.00 до 20.00, <br>кроме воскресенья.</div>
								</div>
							</div>
							<div class="footer-contact-item">
								<span class="footer-contact-icon"></span>
								<div class="footer-contact-jar">
									<div class="footer-contact-name body-m">Наш e-mail:</div>
									<a href="mailto@info@feyazub.ru" class="footer-contact-text body-m">info@feyazub.ru</a>
								</div>
							</div>
						</div>
						<div class="footer-payment">
							<div class="footer-payment-text body-l">У нас в медецинском центре вы можете расплатиться:</div>
							<div class="footer-payment-wrap">
								<img src="../images/payment/payment-1.png" class="footer-payment-item">
								<img src="../images/payment/payment-2.png" class="footer-payment-item">
								<img src="../images/payment/payment-3.png" class="footer-payment-item">
								<img src="../images/payment/payment-4.png" class="footer-payment-item">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- **scripts** -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/libs/js/slick/slick.css">
	<link rel="stylesheet" href="/libs/js/slick/slick-theme.css">
	<script src="/libs/js/slick/slick.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/tabs.js"></script>
	<script type="text/javascript" src="https://w194533.yclients.com/widgetJS" charset="UTF-8"></script>
</body>
</html>